@import "bootstrap/bootstrap";
@import "bootswatch/variables.less";
@import "bootswatch/bootswatch.less";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

body{
	padding-top: 70px;
	padding-bottom: 70px;
}
